{:duct.profile/base
 {:duct.core/project-ns link-card-api

  :duct.router/ataraxy
  {:routes {
            [:get "/"] [:link-card-api.handler/index]
            [:get "/links"] [:link-card-api.handler.links/list]}}
  [:duct.handler.static/ok :link-card-api.handler/index] {:body {:links "/links"}}
  [:duct.handler.sql/query :link-card-api.handler.links/list] {:sql ["SELECT * FROM link"]}

  }


 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/sql {}
 }

