{:duct.profile/base
 {:duct.core/project-ns link-card-api

  :link-card-api.middleware/wrap-cors
  {:access-control-allow-origin [#link-card-api/regex "http://localhost:8001"]
   :access-control-allow-methods [:get :put :post :delete]}
  :duct.handler/root
  {:middleware [#ig/ref :link-card-api.middleware/wrap-cors]}

  :duct.router/ataraxy
  {:routes {
            [:get "/"] [:link-card-api.handler/index]
            [:get "/links"] [:link-card-api.handler.links/list]
            [:post "/links" {{:keys [url title]} :body-params}] [:link-card-api.handler.links/create url title]
            }}
  [:duct.handler.static/ok :link-card-api.handler/index] {:body {:links "/links"}}
  [:duct.handler.sql/query :link-card-api.handler.links/list] {:sql ["SELECT * FROM link"]}
  [:duct.handler.sql/insert :link-card-api.handler.links/create]
    {:request {[_ url title] :ataraxy/result}
     :sql ["INSERT INTO link (user_id, url, title) VALUES(?, ?, ?)" 1 url title]}

  }


 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/sql {}
 }

